In [8]:
pip install ydata-profiling

Collecting ydata-profiling
  Using cached ydata_profiling-4.0.0-py2.py3-none-any.whl (344 kB)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from ydata-profiling) (1.23.5)
Requirement already satisfied: multimethod<1.10,>=1.4 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from ydata-profiling) (1.5)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from ydata-profiling) (3.1.2)
Requirement already satisfied: visions[type_image_path]==0.7.5 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from ydata-profiling) (0.7.5)
Requirement already satisfied: scipy<1.10,>=1.4.1 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from ydata-profiling) (1.9.3)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from ydata-profiling) (6.0)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from ydata-profiling) (1.5.2)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from ydata-profiling) (4.64.1)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from ydata-profiling) (1.10.2)
Requirement already satisfied: matplotlib<3.7,>=3.2 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from ydata-profiling) (3.6.2)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from ydata-profiling) (0.13.5)
Requirement already satisfied: typeguard<2.14,>=2.13.2 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from ydata-profiling) (2.13.3)
Requirement already satisfied: requests<2.29,>=2.24.0 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from ydata-profiling) (2.28.1)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from ydata-profiling) (0.12.3)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from ydata-profiling) (0.12.2)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: networkx>=2.4 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (2.8.4)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (0.2.0)
Requirement already satisfied: attrs>=19.3.0 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (22.1.0)
Requirement already satisfied: Pillow in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (9.3.0)
Requirement already satisfied: imagehash in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (4.2.1)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling) (1.0.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling) (3.0.9)
Requirement already satisfied: packaging>=20.0 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from matplotlib<3.7,>=3.2->ydata-profiling) (22.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from pandas!=1.4.0,<1.6,>1.1->ydata-profiling) (2022.7)
Requirement already satisfied: joblib>=0.14.1 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.1.1)
Requirement already satisfied: typing-extensions>=4.1.0 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from pydantic<1.11,>=1.8.1->ydata-profiling) (4.4.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from requests<2.29,>=2.24.0->ydata-profiling) (1.26.14)
Requirement already satisfied: patsy>=0.5.2 in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from statsmodels<0.14,>=0.13.2->ydata-profiling) (0.5.3)
Requirement already satisfied: colorama in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from tqdm<4.65,>=4.48.2->ydata-profiling) (0.4.6)
Requirement already satisfied: six in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from patsy>=0.5.2->statsmodels<0.14,>=0.13.2->ydata-profiling) (1.16.0)
Requirement already satisfied: PyWavelets in c:\users\julian\anaconda3\envs\machinelearning\lib\site-packages (from imagehash->visions[type_image_path]==0.7.5->ydata-profiling) (1.4.1)
Installing collected packages: ydata-profiling
Successfully installed ydata-profiling-4.0.0
Note: you may need to restart the kernel to use updated packages.

In [9]:
#Manejo de datos
import pandas as pd
import numpy as np

In [10]:
#Analisis profundo de datos
from pandas_profiling import ProfileReport

In [49]:
url = './appWeb/static/data/userid-profile.tsv'
users = pd.read_csv(url, sep="\t")
users

                #id gender   age         country    registered
0       user_000001      m   NaN           Japan  Aug 13, 2006
1       user_000002      f   NaN            Peru  Feb 24, 2006
2       user_000003      m  22.0   United States  Oct 30, 2005
3       user_000004      f   NaN             NaN  Apr 26, 2006
4       user_000005      m   NaN        Bulgaria  Jun 29, 2006
..              ...    ...   ...             ...           ...
989     user_000998      m   NaN  United Kingdom  Sep 28, 2005
990     user_000999      f   NaN          Poland  Jul 24, 2007
991     user_001000      m   NaN   United States  Mar 24, 2007
992    usuarioJsana      m  34.0        Colombia  Mar 09, 2023
993  usuarioJulianS      m  33.0            Perú  Mar 09, 2023

[994 rows x 5 columns]

In [45]:
users.dtypes

#id            object
gender         object
age           float64
country        object
registered     object
dtype: object

In [15]:
# Identificamos el número de missing values en cada columna
users.isnull().sum()

#id             0
gender        108
age           706
country        85
registered      8
dtype: int64

In [18]:
users.loc[len(users.index)] = ['user_JSanabria', 'm', 34, 'Colombia', 'Mar 07, 2023']

In [19]:
users

                #id gender   age         country    registered
0       user_000001      m   NaN           Japan  Aug 13, 2006
1       user_000002      f   NaN            Peru  Feb 24, 2006
2       user_000003      m  22.0   United States  Oct 30, 2005
3       user_000004      f   NaN             NaN  Apr 26, 2006
4       user_000005      m   NaN        Bulgaria  Jun 29, 2006
..              ...    ...   ...             ...           ...
988     user_000997      m   NaN   United States   Jan 5, 2007
989     user_000998      m   NaN  United Kingdom  Sep 28, 2005
990     user_000999      f   NaN          Poland  Jul 24, 2007
991     user_001000      m   NaN   United States  Mar 24, 2007
992  user_JSanabria      m  34.0        Colombia  Mar 07, 2023

[993 rows x 5 columns]

In [20]:
df.to_csv("./appWeb/static/data/userid-profile.tsv", sep="\t")

In [27]:
userRow = users[users['#id'] == 'user_JSanabria']
userRow

     Unnamed: 0             #id gender   age   country    registered
992         992  user_JSanabria      m  34.0  Colombia  Mar 07, 2023

In [28]:
if len(userRow) == 0:
    print("Verdadero")
else:
    print("Falso")

Falso

In [29]:
userGender = userRow["gender"]
userGender

992    m
Name: gender, dtype: object

In [50]:
url = './appWeb/static/data/userid-timestamp-artid-artname-traid-traname.tsv'
items = pd.read_csv(url, sep="\t")
items

ParserError: Error tokenizing data. C error: Expected 6 fields in line 2120260, saw 8